<div class="main">
	<div class="container">
		<!-- BEGIN SIDEBAR & CONTENT -->
		<div class="row margin-bottom-40">
			<!-- BEGIN CONTENT -->
			<div class="col-md-12 col-sm-12">
				<h1>Checkout</h1>
				<!-- BEGIN CHECKOUT PAGE -->
				<div class="panel checkout-page accordion scrollable" id="checkout-page">
					<!-- BEGIN PAYMENT ADDRESS -->
					<div class="panel">
						<div class="panel-heading">
							<h2 class="panel-title">
								<a class="accordion-toggle">
									Delivery details
								</a>
							</h2>
						</div>
						<form id="checkout-form">
						<div id="payment-address-content" class="panel-collapse collapse in">
							<div class="panel-body row">
								<div class="col-md-6 col-sm-6">
									<h3>Your Personal Details</h3>
									<div class="form-group">
										<label for="firstname">First Name <span class="require">*</span></label>
										<input value="{{firstName}}" type="text" id="firstname" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="lastname">Last Name <span class="require">*</span></label>
										<input value="{{lastName}}" type="text" id="lastname" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="email">E-Mail <span class="require">*</span></label>
										<input value="{{email}}" type="text" id="email" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="telephone">Telephone <span class="require">*</span></label>
										<input value="{{phone}}" type="text" id="telephone" class="form-control" required>
									</div>

									
								</div>

								<div class="col-md-6 col-sm-6">
									<h3>Your Address</h3>
									<div class="form-group">
										<label for="address">Address <span class="require">*</span></label>
										<input value="{{address}}" type="text" id="address" class="form-control" required>
									</div>

									<div class="col-md-6">
									<h3>Shipping method</h3>
									<div class="form-group">
										<div class="radio-list">
											<label>
												<input class="form-control" type="radio" name="shipping" value="slow" checked> 3-day shipping </label>
											<label>
												<input class="form-control" type="radio" name="shipping" value="fast" > 1-day shipping </label>
										</div>
									</div>

									</div>

									<div class="col-md-6">
									<h3>Payment method</h3>
									<div class="form-group">
										<div class="radio-list">
											<label>
												<input class="form-control" type="radio" name="payment" value="cod" checked> Cash on delivery (COD) </label>
											<label>
												<input class="form-control" type="radio" name="payment" value="vnpay" > VNPay </label>
										</div>
									</div>
									
									</div>

								</div>
								
								<hr>
								<div id="confirm-content" class="col-md-12 panel">
									<div class="panel-body row">
										<div class="col-md-12 clearfix">
											<div class="table-wrapper-responsive">
												<table id="cart-items">


												</table>
											</div>


											<div class="checkout-total-block">
												<ul>
													<li>
														<em>Sub total</em>
														<strong id="total-order" class="price"><span>$</span>0</strong>
													</li>
													<li>
														<em>Shipping cost</em>
														<strong id="shipping-cost" class="price"><span>$</span>3</strong>
													</li>
													<li class="checkout-total-price">
														<em>Total</em>
														<strong id="total" class="price"><span>$</span>0</strong>
													</li>
												</ul>
											</div>


											<div class="clearfix"></div>
										</div>
									</div>


								</div>
								<hr>

								<div class="col-md-12">
									<button class="btn btn-primary  pull-right disabled" type="submit" data-toggle="collapse"
										data-parent="#checkout-page" data-target="#shipping-address-content"
										id="button-payment-address">Continue</button>
									<div class="checkbox pull-right">
										<label>
											<input id="accept-box" type="checkbox"> I have read and agree to the <a title="Privacy Policy"
												href="javascript:;">Privacy Policy</a> &nbsp;&nbsp;&nbsp;
										</label>
									</div>
								</div>
								
							</div>
						</div>
						</form>
					</div>
					<!-- END PAYMENT ADDRESS -->

				</div>
				<!-- END CHECKOUT PAGE -->
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END SIDEBAR & CONTENT -->
	</div>
</div>

{{#section "scripts"}}

<script type="text/javascript">

	const updateTotal = () => {
		let shippingCost;
		if(document.querySelector('input[name="shipping"]:checked').value == 'slow')
			shippingCost = 3;
		else
			shippingCost = 6;
		document.querySelector('#shipping-cost').innerHTML = `$${shippingCost}`;
		let total = cart.total + shippingCost;
		document.querySelector('#total').innerHTML = `$${total}`;
	}

	const loadCart = async () => {
		const cartHtml = document.querySelector('#cart-items');
		cartHtml.innerHTML = 
		`<tr>
			<th class="checkout-image">Image</th>
			<th class="checkout-model">Name</th>
			<th class="checkout-quantity">Quantity</th>
			<th class="checkout-price">Price</th>
			<th class="checkout-total">Total</th>
		</tr>`;

		const cartItemHtml = await fetch('./assets/checkoutItem.html')
		const cartItemTemplateSrc = await cartItemHtml.text();
		const cartTemplate = Handlebars.compile(cartItemTemplateSrc);
		
		cart.item.map(item => {
			cartHtml.innerHTML += cartTemplate(item);
		});

		document.querySelector('#total-order').innerHTML = `$${cart.total}`;
		updateTotal();
	}

	document.addEventListener('cartLoaded', () => {
		if(cart.item.length > 0) {
			loadCart();
			document.querySelectorAll('input[name="shipping"]').forEach(radio => {
				radio.addEventListener('change', updateTotal);
			});
		}
		else {
			const cartHtml = document.querySelector('#cart-items');
			cartHtml.innerHTML =
			`<h1>
				Your cart is empty....
				<br>How did you end up here?
				<br>Go back to the <a href="/home">home page</a> and start shopping!
			</h1>`
		}
	});

	document.addEventListener('DOMContentLoaded', () => {
		document.querySelector('#checkout-form').addEventListener('submit', e => {
			e.preventDefault();
		});
		document.querySelector('#accept-box').addEventListener('change', () => {
			if(document.querySelector('#accept-box').checked)
				document.querySelector('#button-payment-address').classList.remove('disabled');
			else
				document.querySelector('#button-payment-address').classList.add('disabled');
		});

		document.querySelector("#button-payment-address").addEventListener('click', async () => {
			document.querySelector("#button-payment-address").classList.add('disabled');
			const firstName = document.querySelector('#firstname').value;
			const lastName = document.querySelector('#lastname').value;
			const email = document.querySelector('#email').value;
			const phone = document.querySelector('#telephone').value;
			const address = document.querySelector('#address').value;
			const shipping = document.querySelector('input[name="shipping"]:checked').value;
			const payment = document.querySelector('input[name="payment"]:checked').value;
			const cartId = cart._id;

			const data = {
				firstName,
				lastName,
				email,
				phone,
				address,
				shipping,
				payment,
				cartId
			}

			const result = await fetch('/user/order/create', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data),
			}).then(res => res.json());

			if(result.url) {
				window.location.href = result.url;
			}

			if(result.success) {
				showAlert('Order placed successfully!');
			}
			else if(result.error){
				document.querySelector("#button-payment-address").classList.remove('disabled');
				if(result.message)
					showAlert(result.message, 5000);
			}

			if(result.url) {
				window.location.href = result.url;
			}
		})
	})

</script>
{{/section}}