
<div class="item">
	<a href="/product/{{_id}}"><img src="https://ucarecdn.com/{{image.[0]}}/-/scale_crop/200x200/smart/" alt="{{name}}"></a>
	<h3><a href="/product/{{_id}}">{{name}}</a></h3>
	<div class="price">${{subtract price discount}}</div>
</div>
