<div>
	<div class="product-item">
		<div class="pi-img-wrapper">
			<a href="/product/{{_id}}">
			<img src="https://ucarecdn.com/{{image.[0]}}/-/scale_crop/600x800/smart/" class="img-responsive" alt="{{name}}">
			</a>
		</div>
		<h3><a href="/product/{{_id}}">{{name}}</a></h3>
		<div class="price-rating">
			<div class="pi-price">${{subtract price discount}}</div>
			<div class="rateit" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
		</div>
		<div class="sticker"></div>
	</div>
</div>