<div>
	<div class="product-item">
		<div class="pi-img-wrapper">
			<a href="/product-detail/{{_id}}">
			<img src="https://ucarecdn.com/{{image.[0]}}/-/scale_crop/600x800/smart/" class="img-responsive" alt="{{name}}">
			</a>
		</div>
		<h3><a href="/product-detail/{{_id}}">{{name}}</a></h3>
		<div class="pi-price">${{subtract price discount}}</div>
		<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
		<div class="sticker"></div>
	</div>
</div>