{{> spinner}}
{{#with order_info}}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">ORDER DETAIL</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-center align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Product ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each product}}
                    {{#with this}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>${{price}}</td>
                        <td>{{amount}}</td>
                        <td>${{total}}</td>
                    </tr>
                    {{/with}}
                    {{/each}}
                </tbody>
            </table>
            <div class="container-fluid text-end pt-4">
                <div class="row">
                    <h6 class="col-md-auto"> Total product</h6>
                    <h6 class="col"> ${{total_product}}</h6>
                </div>
                <div class="row">
                    <h6 class="col-md-auto"> Discount</h6>
                    <h6 class="col"> ${{discount}}</h6>
                </div>
                <hr>
                <div class="row">
                    <h6 class="col-md-auto"> Total order</h6>
                    <h6 class="col"> ${{total_order}}</h6>
                </div>
                
            </div>
            <hr>
            <div class="container-fluid pt-4">

            <h6 class="mb-4">SHIPING INFORMATION</h6>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Order ID</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{id}}</h6>
                    </div>
                </div>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Date</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{date}}</h6>
                    </div>
                </div>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Customer</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{username}}</h6>
                    </div>
                </div>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Phone number</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{phone}}</h6>
                    </div>
                </div>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Address</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{address}}</h6>
                    </div>
                </div>
            </div>
        </div>
</div>
{{/with}}