{{> spinner}}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">ORDER DETAIL</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-center align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    {{#with this}}
                    <tr>
                        <td>{{name}}</td>
                        <td>${{price}}</td>
                        <td>{{amount}}</td>
                        <td>${{total}}</td>
                        <td><a class="btn btn-sm btn-detail" href="/products/{{id}}">Detail</a></td>
                    </tr>
                    {{/with}}
                    {{/each}}
                </tbody>
            </table>
            <div class="container-fluid text-end pt-4">
                <hr>
                <div class="row">
                    <h6 class="col-md-auto"> Total order</h6>
                    <h6 class="col"> ${{orderDetail.total}}</h6>
                </div>
                
            </div>
            <hr>
            <div class="container-fluid pt-4">

            <h6 class="mb-4">SHIPING INFORMATION</h6>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Order ID</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{renOrderID orderDetail._id}}</h6>
                    </div>
                </div>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Date</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{renDate orderDetail.createdAt}}</h6>
                    </div>
                </div>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Customer</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{orderDetail.last_name}} {{orderDetail.first_name}}</h6>
                    </div>
                </div>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Phone number</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{orderDetail.phone}}</h6>
                    </div>
                </div>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Address</h6>
                    <div class="col-lg-10">
                        <h6 class="mb-4">{{orderDetail.address}}</h6>
                    </div>
                </div>
                <div class="row mb-0">
                    <h6 class="col-sm-2 text-gray">Status</h6>
                    <div class="col-lg-10">
                        <h6 id="status" class="mb-4">{{orderDetail.status}}</h6>
                    </div>
                </div>
                {{#if (eq orderDetail.status "Pending")}}
                <div id="change-status">
                    <button id="{{orderDetail._id}}" class="btn btn-sm btn-primary">Turn shipping</button>
                </div>
                {{/if}}
            </div>
        </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (document.querySelector('#status').textContent == "Pending") {
            const buttonContainer = document.getElementById('change-status');
            buttonContainer.querySelectorAll("button").forEach((button) => {
                button.addEventListener('click', async () => {
                    if (confirm("Are you sure you want to turn shipping this order?")) {
                        document.querySelector('#status').textContent = "Shipping";
                        button.classList.add("hide");
                        fetch(`/orders/dashboard/api/change-status/${button.id}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! Status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            // Xử lý sau khi xóa thành công, có thể là làm mới trang hoặc cập nhật danh sách sản phẩm
                            console.log('Change successfully!', data);
                            alert('Change successfully!');
                            // Gọi lại hàm nạp lại sản phẩm
                        })
                        .catch(error => {
                            console.error('Error changing order status:', error);
                            // Xử lý khi xóa thất bại, nếu cần thiết
                        });
                        
                    }
                });
            });
        }
    });
</script>