<div class="main">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="/home">Home</a></li>
			<li><a href="/category/?cate={{currentCategory}}">{{currentCategory}}</a></li>
			<li class="active">{{productDetail.name}}</li>
		</ul>
		<!-- BEGIN SIDEBAR & CONTENT -->
		<div class="row margin-bottom-40">
			<div class="sidebar col-md-3 col-sm-5">
				{{!-- Category menu --}}
				{{> categorySidebar}}

				{{!-- Similar products --}}
				{{#if similarProducts.length}}
				<h2>Similar products</h2>
				<div class="sidebar-products clearfix">
					{{#each similarProducts}}
					{{#with this}}
					{{> productSidebar}}
					{{/with}}
					{{/each}}
				</div>
				{{/if}}
			</div>
			

			<!-- BEGIN CONTENT -->
			<div class="col-md-9 col-sm-7">
				<div class="product-page">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="product-main-image">
								<img src="https://ucarecdn.com/{{productDetail.image.[0]}}/-/preview/600x800/" alt="{{productDetail.name}}"
									class="img-responsive" data-BigImgsrc="https://ucarecdn.com/{{productDetail.image.[0]}}/-/preview/600x800/">
							</div>
							<div class="product-other-images">
								{{#each productDetail.image}}
								<a href="https://ucarecdn.com/{{this}}/-/preview/600x800/" class="other-image-link">
								<img alt="{{productDetail.name}}" src="https://ucarecdn.com/{{this}}/-/preview/600x800/"></a>
								{{/each}}
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<h1>{{productDetail.name}}</h1>
							<div class="price-availability-block clearfix">
								<div class="price">
									<strong><span>$</span>{{subtract productDetail.price productDetail.discount}}</strong>
									<em>$<span>{{productDetail.price}}</span></em>
								</div>
								<div class="availability">
									Availability: <strong>{{productDetail.availability}}</strong>
								</div>
							</div>
							<div class="description">
								<p>{{productDetail.description}}</p>
							</div>
							<div class="product-page-options">
								<div class="pull-left">
									<label class="control-label">Size:</label>
									<select class="form-control input-sm">
										<option>L</option>
										<option>M</option>
										<option>XL</option>
									</select>
								</div>
							</div>
						</div>
						<div class="product-page-cart">
							<div class="product-quantity">
								<input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">
							</div>
							<button class="btn btn-primary" type="submit">Add to cart</button>
						</div>
						<div class="review">
							<input type="range" value="{{productDetail.rating}}" step="0.25" id="backing4">
							<div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false"
								data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5" data-rateit-readonly="true">
							</div>
							<a href="javascript:;">{{productDetail.review.length}} reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;">Write a review</a>
						</div>
						<ul class="social-icons">
							<li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
							<li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
							<li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
							<li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
							<li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
						</ul>
					</div>

					<div class="product-page-content">
						<ul id="myTab" class="nav nav-tabs">
							<li><a href="#Description" data-toggle="tab">Description</a></li>
							<li><a href="#Information" data-toggle="tab">Information</a></li>
							<li class="active"><a href="#Reviews" data-toggle="tab">Reviews ({{reviews.length}})</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade" id="Description">
								<p>{{productDetail.description}}</p>
							</div>

							<div class="tab-pane fade" id="Information">
								{{productDetail.information}}
							</div>

							<div class="tab-pane fade in active" id="Reviews">
								{{#if reviews.length}}
								{{#each reviews}}
								{{#with this}}
								<div class="review-item clearfix">
									<div class="review-item-submitted">
										<strong>{{username}}</strong>
										<em>{{date}}</em>
										<div class="rateit" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-readonly="true">
										</div>
									</div>
									<div class="review-item-content">
										<p>{{review}}</p>
									</div>
								</div>
								{{/with}}
								{{/each}}
								{{else}}
								<p>There are no reviews for this product.</p>
								{{/if}}

								{{#if user}}
								<!-- BEGIN FORM-->
								<form method="post" action="product-detail/{{productDetail._id}}/add-review" class="reviews-form" role="form">
									<h2>Write a review</h2>
									<div class="form-group">
										<label for="review">Review <span class="require">*</span></label>
										<textarea required class="form-control" rows="8" name="review" id="review"></textarea>
									</div>
									<div class="form-group">
										<label for="email">Rating</label>
										<input required type="range" value="4" step="0.25" name="rating" id="backing5">
										<div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"
											data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
										</div>
									</div>
									<div class="padding-top-20">
										<button type="submit" class="btn btn-primary">Send</button>
									</div>
								</form>
								<!-- END FORM-->
								{{else}}
								<p>Please <a href="/sign-in">login</a> to write a review.</p>
								{{/if}}
							</div>
						</div>
					</div>

					<div class="sticker"></div>
				</div>
			</div>
		</div>
			<!-- END CONTENT -->
	
		<!-- END SIDEBAR & CONTENT -->

		<!-- BEGIN SIMILAR PRODUCTS -->
		<div class="row margin-bottom-40">
			<div class="col-md-12 col-sm-12 justify-content-center">
				<h2>Most popular products</h2>
				<div class="owl-carousel owl-carousel4">
					{{#each popularProducts}}
					{{#with this}}
					{{> productItem}}
					{{/with}}
					{{/each}}
				</div>
			</div>
		</div>
		<!-- END SIMILAR PRODUCTS -->
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.other-image-link').on('click', function (e) {
            e.preventDefault(); // Prevent default link behavior

            // Get the clicked image source
            var newImageSrc = $(this).find('img').attr('src');

            // Set the main image source
            $('.product-main-image img').attr('src', newImageSrc);
        });
    });
</script>